# templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
data:
  global.conf: |
    {
      acme_ca https://acme.zerossl.com/v2/DV90
      email {{ include "get.email" . }}
    }
    {{ include "get.domain" . }}, www.{{ include "get.domain" . }} {
      root * /var/www/public
      file_server {
          index index.html
        }
    }

    # Temu 'anubis'
    # More: https://fxgn.dev/blog/anubis/
    (snippet_verified) {
        @unverified not header Cookie *verified*
        handle @unverified {
            header Content-Type text/html
            respond <<EOF
                <script>
                document.cookie = 'verified=1; Path=/;';
                window.location.reload();
                </script>
            EOF 418
        }
    }

    bazarr.{{ include "get.domain" . }} {
      reverse_proxy bazarr:6767
    }
    shasum.{{ include "get.domain" . }} {
      basic_auth {
      {{ include "get.authuser" . }} {{ include "get.authpass" . }}
      }
      reverse_proxy checksum-calculator:8080
    }
    doz.{{ include "get.domain" . }} {
      basic_auth {
      {{ include "get.authuser" . }} {{ include "get.authpass" . }}
      }
      reverse_proxy dozzle:8080
    }
    cd.{{ include "get.domain" . }} {
      reverse_proxy changedetection:5000
    }
    jackett.{{ include "get.domain" . }} {
      reverse_proxy jackett:9117
    }
    mat.{{ include "get.domain" . }} {
      # Serve robots.txt normally
      @robots path /robots.txt
      handle @robots {
          reverse_proxy cloudtube:10412
      }
      import snippet_verified
      reverse_proxy cloudtube:10412
    }
    prowlarr.{{ include "get.domain" . }} {
      reverse_proxy prowlarr:9696
    }
    jellyfin.{{ include "get.domain" . }} {
      reverse_proxy jellyfin:8096
    }
    rss.{{ include "get.domain" . }} {
      reverse_proxy miniflux:8080
    }
    tafuta.{{ include "get.domain" . }} {
      reverse_proxy searxng:8080
    }
    quora.{{ include "get.domain" . }} {
      reverse_proxy quetre:3000
    }
    sonarr.{{ include "get.domain" . }} {
      reverse_proxy sonarr:8989
    }
    radarr.{{ include "get.domain" . }} {
      reverse_proxy radarr:7878
    }
    wikiless.{{ include "get.domain" . }} {
      import snippet_verified
      reverse_proxy wikiless:8080
    }
    weddit.{{ include "get.domain" . }} {
      # Allowed for uptime monitor.
      @monitor path /r/Fauxmoi/wiki/index/blistapproval
      handle @monitor {
          reverse_proxy redlib:8080
      }
      import snippet_verified
      reverse_proxy redlib:8080
    }
    tube.{{ include "get.domain" . }} {
      import snippet_verified
      reverse_proxy invidious:3000
    }
    neuters.{{ include "get.domain" . }} {
      reverse_proxy neuters:13369
    }
    cloud.{{ include "get.domain" . }} {
      reverse_proxy nextcloud:80
      # Rewrites for Nextcloud-specific endpoints
      rewrite /.well-known/carddav /remote.php/dav
      rewrite /.well-known/caldav /remote.php/dav
      rewrite /.well-known/webfinger /index.php/.well-known/webfinger
      rewrite /.well-known/nodeinfo /index.php/.well-known/nodeinfo
    }
